<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Employee Bean -->
    <bean id="employee" class="com.klef.jfsd.exam.model.Employee">
        <constructor-arg value="101"/>
        <constructor-arg value="John Doe"/>
        <constructor-arg value="75000.0"/>
        <constructor-arg value="IT"/>
        <constructor-arg>
            <list>
                <value>Java</value>
                <value>Spring</value>
                <value>SQL</value>
            </list>
        </constructor-arg>
    </bean>

    <!-- Instructor Bean -->
    <bean id="instructor" class="com.klef.jfsd.exam.model.Instructor">
        <property name="instructorId" value="1"/>
        <property name="name" value="Dr. Smith"/>
        <property name="email" value="smith@domain.com"/>
        <property name="phoneNumber" value="1234567890"/>
    </bean>

    <!-- Course Bean -->
    <bean id="course" class="com.klef.jfsd.exam.model.Course" autowire="byType">
        <property name="courseId" value="1001"/>
        <property name="courseName" value="Spring Framework"/>
        <property name="credits" value="3"/>
    </bean>

</beans>
